In [17]:
x=int(input("the first number"))
y=int(input("the second number"))

print(x-y)
print(x+y)
print(x*y)
print(int(x)/int(y))

the first number45
the second number78
-33
123
3510
0.5769230769230769

In [25]:
p=int(input("principalamount"))
n=int(input("number of year"))
r=int(input("rateof intrest"))
print((p*n*r)/100)

principalamount40000
number of year4
rateof intrest20
32000.0

In [26]:
x=int(input("enter your mark"))
if x>50:
  print("you r pass")
if x<50:
  print("you r failed")

enter your mark89
you r pass

In [42]:
x=int(input("enter your salary"))
if x>200000:
  print("u r taxable")
  print((x*10)/100)
  print(((x-25000)*10)/100)
if x<200000:
  print( "u r nottaxable")
if 250000<x<500000:
  print(((x-25000)*10)/100)

enter your salary400000
u r taxable
40000.0
37500.0
37500.0